<?xml version="1.0" encoding="utf-8" ?>
<configuration>
        <configSections>
        </configSections>
        <connectionStrings>
                <add name="OptimizationImages.Properties.Settings.masterConnectionString"
                        connectionString="Data Source=192.168.4.4;Initial Catalog=master;Persist Security Info=True;User ID=sa;Password=ANCFCC@2016"
                        providerName="System.Data.SqlClient" />
        </connectionStrings>
        <startup>
            
        </startup>
</configuration>